
<div class = 'container'>
	<div class = 'row'>
		<div class = 'col-md-8'>
			<h1 class = 'mx-auto'>Saved Articles</h1>


{{#each article}}

	<div class="card">
		<a data-id = {{this._id}} href = {{this.link}}><h2>{{this.title}}</h2></a>
	    <img src= {{this.img}} class= img-fluid>
	    <p>{{this.info}}</p>
	    <h4>Comments:</h4>
	    <p>{{this.note.title}}</p>

	</div>
{{/each}}



	</div>
</div>